/* Reset all elements */
* {
    margin: 0;
    padding: 0;
}

/* Background color for the HTML document */
html {
    background-color: white;
}

/* Main styles for the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

/* Link hover and focus effects */
a:focus, a:hover {
    font-style: italic;
}

/* Header styles */
header {
    padding: 1.5em 0 2em 0;
    border-bottom: 3px solid #931420;
    background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header h2 {
    font-size: 175%;
    color: #800000;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

/* Main navigation menu styles */
#nav_menu {
    position: relative;
}

#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav_menu li {
    float: left;
}

#nav_menu li a {
    display: block;
    width: 20%; /* 1/5th width of body */
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}

#nav_menu li a.current {
    color: yellow;
}

#nav_menu li:hover ul {
    display: block;
}

/* Submenu styles */
#nav_menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f6bb73;
}

#nav_menu li ul li {
    float: none; /* Display submenu items vertically */
}

/* After pseudo-element for clearing floats */
#nav_menu:after {
    content: "";
    display: block;
    clear: both;
}

/* Section styles */
section {
    width: 525px;
    float: right;
    padding: 0 20px 20px 20px;
}

section h1 {
    font-size: 150%;
    padding: .5em 0 .25em 0;
    margin: 0;
}

section p {
    padding-bottom: .5em;
}

/* Change unordered list bullets to circles */
section ul {
    list-style-type: circle;
}

/* Footer styles */
footer {
    background-color: #931420;
    clear: both;
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}
